<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">account</h1>

      <div class="tile is-ancestor">
        <div class="tile is-3">
          <div class="tile is-parent is-vertical">
            <div class="tile box has-background-dark is-child" id="addressCard" style="position: relative; z-index: 1;">
              <h2 class="title has-text-light is-4">address</h2>
              <uic-address *ngIf="address$ | async as address" [address]="address">
              </uic-address>
            </div>

            <div class="tile box has-background-dark is-child" style="width: 280px;">
              <h2 class="title has-text-light is-4">payments</h2>
              <uic-payment *ngIf="payments$ | async as payments" [payments]="payments">
              </uic-payment>
            </div>
          </div>
        </div>

        <div class="tile is-9">
          <div class="tile is-vertical">
            <div class="tile is-parent">
              <div class="tile box is-child">
                <h2 class="title is-4">profiles</h2>
                <uic-profile *ngIf="profiles$ | async as profiles" [profiles]="profiles">
                </uic-profile>
              </div>
            </div>

            <div class="tile">
              <div class="tile is-parent">
                <div class="tile box is-child">
                  <h2 class="title is-4">bookings</h2>
                  <uic-account-booking *ngFor="let booking of bookings$ | async" [booking]="booking">
                  </uic-account-booking>
                </div>
              </div>

              <div class="tile is-parent">
                <div class="tile box is-child">
                  <h2 class="title is-4">reviews</h2>
                  <uic-account-review *ngFor="let review of reviews$ | async" [review]="review"></uic-account-review>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
