<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br>
      <h1 class="title is-2">account</h1>

      <div class="tile is-ancestor">
        <div class="tile is-3">
          <div class="tile is-parent is-vertical">
            <div class="tile box has-background-dark is-child">
              <h2 class="title has-text-light is-4">address</h2>
              <uic-address [address$]="address$"></uic-address>
            </div>

            <div class="tile box has-background-dark is-child">
              <h2 class="title has-text-light is-4">payments</h2>
              <uic-payment *ngFor="let payment of (account$ | async).payments" [payment]="payment"></uic-payment>
            </div>
          </div>
        </div>

        <div class="tile is-9">
          <div class="tile is-vertical">
            <div class="tile is-parent">
              <div class="tile box is-child">
                <h2 class="title is-4">profiles</h2>
                <uic-profile [profiles]="(account$ | async).profiles"></uic-profile>
              </div>
            </div>

            <div class="tile">
              <div class="tile is-parent">
                <div class="tile box is-child">
                  <h2 class="title is-4">bookings</h2>

                  <div class="level">
                    <div class="level-item">
                      <figure class="image is-64x64">
                        <img alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                      </figure>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">location</p>
                        <p class="title is-6">Dallas</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">check-in</p>
                        <p class="title is-6">2020-12-20</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">check-out</p>
                        <p class="title is-6">2020-12-29</p>
                      </div>
                    </div>
                  </div>

                  <hr>
                  <div class="level">
                    <div class="level-item">
                      <figure class="image is-64x64">
                        <img alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                      </figure>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">location</p>
                        <p class="title is-6">Dallas</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">check-in</p>
                        <p class="title is-6">2020-12-20</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">check-out</p>
                        <p class="title is-6">2020-12-29</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tile is-parent">
                <div class="tile box is-child">
                  <h2 class="title is-4">reviews</h2>

                  <div class="level">
                    <div class="level-item">
                      <figure class="image is-64x64">
                        <img alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                      </figure>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">lodging</p>
                        <p class="title is-6">Marriott</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">rating</p>
                        <p class="title is-6">8.0</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">date</p>
                        <p class="title is-6">2020-12-29</p>
                      </div>
                    </div>
                  </div>

                  <hr>
                  <div class="level">
                    <div class="level-item">
                      <figure class="image is-64x64">
                        <img alt="placeholder image" class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                      </figure>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">lodging</p>
                        <p class="title is-6">Hilton</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">rating</p>
                        <p class="title is-6">8.5</p>
                      </div>
                    </div>

                    <div class="level-item has-text-centered">
                      <div>
                        <p class="heading">date</p>
                        <p class="title is-6">2020-12-29</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
