<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">account</h1>

      <div class="tile is-ancestor">
        <div class="tile is-4 is-parent">
          <div class="tile box has-background-dark is-child">
            <h2 class="title has-text-white is-4">owner</h2>

            <p>address</p>
            <p>payment</p>
          </div>
        </div>
        <div class="tile is-8">
          <div class="tile is-vertical">
            <div class="tile is-parent">
              <div class="tile box is-child">
                <h2 class="title is-4">family</h2>

                <div class="columns is-multiline">
                  <div class="column is-one-third">
                    <div class="card">
                      <div class="card-image">
                        <figure class="image">
                          <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                        </figure>
                      </div>

                      <div class="card-content has-text-centered">
                        <p class="title is-5">Doctor Frank</p>
                        <p class="subtitle is-6">adult</p>
                      </div>

                      <div class="card-footer">
                        <a class="card-footer-item" routerLink="">update</a>
                        <a class="card-footer-item" routerLink="">remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tile is-parent">
              <div class="tile box is-child">
                <h2 class="title is-4">booking</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
