<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">street</p>
        <p class="title has-text-light is-6">{{ address?.street }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">apt / unit</p>
        <p class="title has-text-light is-6">123</p>
      </div>
    </div>
  </div>
</div>

<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">city</p>
        <p class="title has-text-light is-6">{{ address?.city }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">state</p>
        <p class="title has-text-light is-6">{{ address?.stateProvince }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">postal code</p>
        <p class="title has-text-light is-6">{{ address?.postalCode }}</p>
      </div>
    </div>
  </div>
</div>

<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">country</p>
        <p class="title has-text-light is-6">{{ address?.country }}</p>
      </div>
    </div>
  </div>
</div>

<div class="level">
  <div class="level-item">
    <uic-new-address-form (newAddress)="addAddress($event)"></uic-new-address-form>
  </div>
</div>