<h2 class="title has-text-light is-4">address</h2>

<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">street</p>
        <p class="title has-text-light is-6">{{ (address$ | async).street }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">apt / unit</p>
        <p class="title has-text-light is-6">123</p>
      </div>
    </div>
  </div>
</div>

<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">city</p>
        <p class="title has-text-light is-6">{{ (address$ | async).city }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">state</p>
        <p class="title has-text-light is-6">{{ (address$ | async).stateProvince }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">Postal Code</p>
        <p class="title has-text-light is-6">{{ (address$ | async).postalCode }}</p>
      </div>
    </div>
  </div>
</div>

<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">country</p>
        <p class="title has-text-light is-6">{{ (address$ | async).country }}</p>
      </div>
    </div>
  </div>
</div>
