<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">street</p>
        <p class="title has-text-light is-6">{{ street$ | async }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">apt / unit</p>
        <p class="title has-text-light is-6">123</p>
      </div>
    </div>
  </div>
</div>

<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">city</p>
        <p class="title has-text-light is-6">{{ city$ | async }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">state</p>
        <p class="title has-text-light is-6">{{ stateProvince$ | async }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">Postal Code</p>
        <p class="title has-text-light is-6">{{ postalCode$ | async }}</p>
      </div>
    </div>
  </div>
</div>

<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">country</p>
        <p class="title has-text-light is-6">{{ country$ | async }}</p>
      </div>
    </div>
  </div>
</div>
