.result-image {
  -webkit-box-shadow: 0px 7px 15px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.3);
}

.title-is-vertical ul {
  padding-left: 20px;
}

.card-image {
  float: left;
  display: flexbox;
  width: 200px;
  padding: 32px 30px 0px 30px;
}

.card {
  -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  max-width: 100%;
  margin-top: 20px;
}

.card:hover{
    background-color: #10d1b4;
    color: white;
}
.card:hover .is-4{
    color: white;
}

.card:hover .discountedPrice{
    color: white;
}

.cover:hover .subtitle {
    color: white;
}

.card:hover .orignalPrice{
    color: rgb(73, 73, 73);
}

.card:hover button{
    background-color: white;
    color: #10d1b4;
}

.card:hover .checked{
    color: #006858;
}
.card:hover .unchecked{
    color: white;
}
.is-4{
    color: #00aa91;
}


.is-2 {
  color: rgb(136, 136, 136);
}
.subtitle {
  color: rgb(116, 116, 116);
}

.end-of-card {
  float: right;
}

.stars {
  width: 16em;
}

.fa-star {
  color: lightgray;
  font-size: 16px;
}

.checked {
  color: #00a88f;
}

.subtitle{
    color: rgb(116, 116, 116);
}

.orignalPrice{
    text-decoration: line-through; 
    display: inline; 
    margin-left: 1.5rem; 
    font-weight: bold; 
    color: gray;
}
.discountedPrice{
    display: inline;
    font-weight: bold;
    color: #00aa91;
}


.content button{
    float: right;
    margin-bottom: 4rem;
}
