// base
@import './assets/scss/base.scss';

// bulma
@import '../node_modules/bulma/bulma.sass';

// fontawesome
@import '../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import '../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
