<section *ngIf="lodging" class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">lodging</h1>
      <div class="tile is-ancestor">
        <div class="tile is-6 is-parent is-vertical">
          <div class="tile is-child">
            <figure class="image is-16by9">
              <ng-container *ngIf="((!lodging.imageUrls) || (lodging.imageUrls.length === 0)); then thenBlock else elseBlock"></ng-container>
              <ng-template #thenBlock>
                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image" />
              </ng-template>
              <ng-template #elseBlock>
                <img src="{{ lodging.imageUrls[0] }}" alt="Main campground image" />
              </ng-template>
            </figure>
          </div>
        </div>
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <ng-container *ngIf="((!lodging.imageUrls) || (lodging.imageUrls.length < 2)); then thenBlock else elseBlock"></ng-container>
                  <ng-template #thenBlock>
                    <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                  </ng-template>
                  <ng-template #elseBlock>
                    <img src="{{ lodging.imageUrls[1] }}" alt="Extra campground image" />
                  </ng-template>
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <ng-container *ngIf="((!lodging.imageUrls) || (lodging.imageUrls.length < 3)); then thenBlock else elseBlock"></ng-container>
                  <ng-template #thenBlock>
                    <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                  </ng-template>
                  <ng-template #elseBlock>
                    <img src="{{ lodging.imageUrls[2] }}" alt="Extra campground image" />
                  </ng-template>
                </figure>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <ng-container *ngIf="((!lodging.imageUrls) || (lodging.imageUrls.length < 4)); then thenBlock else elseBlock"></ng-container>
                  <ng-template #thenBlock>
                    <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                  </ng-template>
                  <ng-template #elseBlock>
                    <img src="{{ lodging.imageUrls[3] }}" alt="Extra campground image" />
                  </ng-template>
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <ng-container *ngIf="((!lodging.imageUrls) || (lodging.imageUrls.length < 5)); then thenBlock else elseBlock"></ng-container>
                  <ng-template #thenBlock>
                    <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                  </ng-template>
                  <ng-template #elseBlock>
                    <img src="{{ lodging.imageUrls[4] }}" alt="Extra campground image" />
                  </ng-template>
                </figure>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <ng-container *ngIf="((!lodging.imageUrls) || (lodging.imageUrls.length < 6)); then thenBlock else elseBlock"></ng-container>
                  <ng-template #thenBlock>
                    <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                  </ng-template>
                  <ng-template #elseBlock>
                    <img src="{{ lodging.imageUrls[5] }}" alt="Extra campground image" />
                  </ng-template>
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <ng-container *ngIf="((!lodging.imageUrls) || (lodging.imageUrls.length < 7)); then thenBlock else elseBlock"></ng-container>
                  <ng-template #thenBlock>
                    <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                  </ng-template>
                  <ng-template #elseBlock>
                    <img src="{{ lodging.imageUrls[6] }}" alt="Extra campground image" />
                  </ng-template>
                </figure>
              </div>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile box has-background-dark is-child">
              <div class="level">
                <div class="level-item">
                  <div>
                    <p class="title has-text-light is-3">{{ lodging.name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-3">
          <div class="tile is-parent">
            <div class="tile box is-child">
              <h2 class="title is-4">overview</h2>
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div>
                      <p class="heading">address</p>
                      <p class="title is-6">{{ lodging.location.address.street }}</p>
                      <p class="title is-6">
                        {{ lodging.location.address.city }},
                        {{ lodging.location.address.stateProvince }},
                        {{ lodging.location.address.country }}
                      </p>
                      <p class="title is-6">
                        {{ lodging.location.address.postalCode }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile box is-child">
              <uic-rental [rentals]="lodging.rentals"></uic-rental>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
