<section *ngIf="isLoaded" class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">lodging</h1>
      <div class="tile is-ancestor">
        <div class="tile is-6 is-parent is-vertical">
          <div class="tile is-child">
            <figure class="image is-16by9">
              <img
                alt="placeholder image"
                src="https://bulma.io/images/placeholders/1280x960.png"
              />
            </figure>
          </div>
        </div>
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img
                    alt="placeholder image"
                    src="https://bulma.io/images/placeholders/1280x960.png"
                  />
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img
                    alt="placeholder image"
                    src="https://bulma.io/images/placeholders/1280x960.png"
                  />
                </figure>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img
                    alt="placeholder image"
                    src="https://bulma.io/images/placeholders/1280x960.png"
                  />
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img
                    alt="placeholder image"
                    src="https://bulma.io/images/placeholders/1280x960.png"
                  />
                </figure>
              </div>
            </div>
            <div class="tile is-parent is-vertical">
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img
                    alt="placeholder image"
                    src="https://bulma.io/images/placeholders/1280x960.png"
                  />
                </figure>
              </div>
              <div class="tile is-child">
                <figure class="image is-5by3">
                  <img
                    alt="placeholder image"
                    src="https://bulma.io/images/placeholders/1280x960.png"
                  />
                </figure>
              </div>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile box has-background-dark is-child">
              <div class="level">
                <div class="level-item">
                  <div>
                    <p class="title has-text-light is-3">{{ lodging!.name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-3">
          <div class="tile is-parent">
            <div class="tile box is-child">
              <h2 class="title is-4">overview</h2>
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div>
                      <p class="heading">address</p>
                      <p class="title is-6">{{ lodging!.location.address.street }}</p>
                      <p class="title is-6">
                        {{ lodging!.location.address.city }},
                        {{ lodging!.location.address.stateProvince }},
                        {{ lodging!.location.address.country }}
                      </p>
                      <p class="title is-6">
                        {{ lodging!.location.address.postalCode }}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="level">
                <div class="level-left">
                  <div class="level-item">
                    <div>
                      <p class="heading">amenity</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tile">
          <div class="tile is-parent">
            <div class="tile box is-child">
              <uic-rental [lodging] = "lodging!"></uic-rental>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
