<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">booking</h1>

      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <form action="">
            <div class="tile is-parent">
              <div class="tile is-child">
                <div class="field">
                  <label for="location" class="label">location</label>
                  <div class="control">
                    <input class="input" id="location" name="location" placeholder="Add the destination" type="text" />
                  </div>
                </div>
              </div>

              <div class="tile is-child">
                <label for="check-in" class="label">check-in / check-out</label>
                <div class="field has-addons">
                  <div class="control is-expanded">
                    <input class="input" id="check-in" name="check-in" placeholder="Add the traveling date"
                      type="date" />
                  </div>
                  <div class="control is-expanded">
                    <input class="input" id="check-out" name="check-out" placeholder="Add the returning date"
                      type="date" />
                  </div>
                </div>
              </div>

              <div class="tile is-child">
                <label for="adults" class="label">guests</label>
                <div class="field has-addons">
                  <div class="control">
                    <input class="input" id="adults" name="adults" placeholder="Adults" type="number" />
                  </div>
                  <div class="control">
                    <input class="input" id="children" name="children" placeholder="Children" type="number" />
                  </div>
                  <div class="control">
                    <button class="button is-primary" type="button">search</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <uic-search-results [lodgings]="lodgings$ | async" *ngIf="!isSearched"></uic-search-results>

          <div class="tile">
            <div class="tile is-parent">
              <div class="tile is-child">
                <figure class="image is-16by9">
                  <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                </figure>
              </div>
            </div>

            <div class="tile is-parent">
              <div class="tile is-child">
                <figure class="image is-16by9">
                  <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                </figure>
              </div>
            </div>

            <div class="tile is-parent">
              <div class="tile is-child">
                <figure class="image is-16by9">
                  <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png" />
                </figure>
              </div>
            </div>
          </div>

          <uic-spotlight></uic-spotlight>
        </div>
      </div>
    </div>
  </div>
</section>