<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br />
      <h1 class="title is-2">booking</h1>

      <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <uic-search-bar></uic-search-bar>

          <uic-search-results [lodgings]="lodgings$ | async" *ngIf="isSearched"></uic-search-results>

          <uic-featured-lodging [featuredLodgings]="lodgings$ | async"></uic-featured-lodging>

          <uic-spotlight [lodgings]="lodgings$ | async"></uic-spotlight>
        </div>
      </div>
    </div>
  </div>
</section>