<div class="level">
  <div class="level-left">
    <div class="level-item has-text-light">
      <div>
        <p class="heading">bank</p>
        <uic-editable [(data)]='payment.cardName' (focusOut)='saveCost($event)'></uic-editable>
        <p class="title has-text-light is-6">{{ payment.cardName }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">number</p>
        <p class="title has-text-light is-6">{{ payment.cardNumber }}</p>
      </div>
    </div>

    <div class="level-item has-text-light">
      <div>
        <p class="heading">expiry</p>
        <p class="title has-text-light is-6">{{ payment.cardExpirationDate | date: 'MM/yy' }}</p>
      </div>
    </div>
  </div>
</div>
<hr>
