<uic-newpaymentform (newPayment)="addCard($event)"></uic-newpaymentform>
<div class="level" *ngFor="let payment of payments">
  <div class="level-left">
    <div class="level-item has-text-centered">
      <div class="level">
        <div class="level-left">
          <div class="level-item has-text-light">
            <div>
              <p class="heading">bank</p>
              <uic-editable [data]="payment.cardName"></uic-editable>
              <p class="title has-text-light is-6">{{ payment.cardName }}</p>
            </div>
          </div>

          <div class="level-item has-text-light">
            <div>
              <p class="heading">number</p>
              <uic-editable [data]="payment.cardNumber"></uic-editable>
              <p class="title has-text-light is-6">{{ payment.cardNumber }}</p>
            </div>
          </div>

          <div class="level-item has-text-light">
            <div>
              <p class="heading">expiry</p>
              <!---<uic-editable [data]='payment.cardExpirationDate'></uic-editable>--->
              <p class="title has-text-light is-6">
                {{ payment.cardExpirationDate | date: 'MM/yy' }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr />
    </div>
  </div>
</div>
