.card {
  -webkit-box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  max-width: 33%;
  margin-top: 20px;
  margin-right: 1em;
  transition: all 0.3s ease-in-out;
  z-index: 0;
}

.card:hover {
  transform: scale(1.1);
  background-color: #10d1b4;
  z-index: 1;
  margin-right: 1.3em;

  #card-title {
    color: white;
  }

  #card-subtitle {
    color: white;
  }

  #card-content {
    color: white;
  }
}

.is-4 {
  color: #00aa91;
}

.is-2 {
  color: rgb(136, 136, 136);
}
.subtitle {
  color: rgb(116, 116, 116);
}

.card-container {
  display: inline-flex;
}

.column {
  padding: 0px 0px 20px;
}