<button class="button is-link" id="paymentButton" (click)="showMore = !showMore">
  Add Payment
</button>

<div *ngIf="showMore">
  <form [formGroup]="PaymentForm" (ngSubmit)="onSubmit(); showMore = !showMore">
    <div class="modal is-active" id="page-modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="row">
          <div class="col-75">
            <div class="container">
              <div class="row">
                <div class="col-50">
                  <label for="cname">Bank</label>
                  <input
                    type="text"
                    id="cname"
                    name="cardname"
                    placeholder="ie. Amex"
                    formControlName="Bank"
                  />
                  <label for="ccnum">Credit card number</label>
                  <input
                    type="text"
                    id="ccnum"
                    name="cardnumber"
                    placeholder="1111-2222-3333-4444"
                    formControlName="CCNumber"
                  />
                  <label for="expyear">Exp Date</label>
                  <input
                    type="text"
                    id="expyear"
                    name="expyear"
                    placeholder="2018"
                    formControlName="ExpDate"
                  />
                </div>
              </div>
            
              <input
                type="submit"
                [disabled]="!PaymentForm.valid"
                value="Add payment"
                class="btn"
              />
            </div>
          </div>
          <button
            class="modal-close is-large"
            aria-label="close"
            (click)="showMore = !showMore"
          ></button>
        </div>
      </div>
    </div>
  </form>
</div>
