<footer class="footer">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <small class="level-item">&#169; 2020 RVTR &#8759; fred belotte</small>
      </div>

      <div class="level-right">
        <a *ngFor="let link of navbarLinks$ | async" class="level-item has-text-primary" href="{{ link.url }}" rel="noopener noreferrer" target="_blank">
          <span class="icon">
            <i aria-hidden="true" class="{{ link.icon }}"></i>
          </span>
          {{ link.text }}
        </a>
      </div>
    </nav>
  </div>
</footer>
