<button class="button is-primary" (click)="showModal = !showModal">Add a address</button>
<div *ngIf="showModal">
  <form [formGroup]="AddressForm" (ngSubmit)="onSubmit();">
    <div class="modal is-active" id="page-modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="row">
          <div class="col-75">
            <div class="container is-fluid">
              <div class="row">
                <div class="col-50">
                  <label class="label" for="ciname">City</label>
                  <div class="level is-flex">
                    <input type="text" id="ciname" name="cityname" placeholder="ie. Amex" formControlName="City"
                      pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$" class="input is-medium level-item" />
                    <span class="level-item">
                      <i *ngIf="City.invalid && (City.touched || City.dirty)"  class="level-item fas fa-ban has-text-danger" title="Please enter valid CC info" aria-hidden="true"></i>
                    </span>
                  </div>
                  <label class="label" for="coname">Country</label>
                  <div class="level is-flex">
                    <input type="text" id="coname" name="Countryname" placeholder="ie. Amex" formControlName="Country"
                      pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$" class="input is-medium level-item" />
                    <span class="level-item">
                      <i *ngIf="Country.invalid && (Country.touched || Country.dirty)" class="level-item fas fa-ban has-text-danger" title="Please enter valid CC info" aria-hidden="true"></i>
                    </span>
                  </div>
                  <label class="label" for="pnum">Postal Code number</label>
                  <div class="level is-flex">
                    <input type="text" id="pnum" name="postalcode" class="input is-medium level-item"
                      pattern="^([0-9]{5})([\-]{1}[0-9]{4})?$" placeholder="11111" formControlName="PostalCode" />
                    <span class="level-item">
                      <i *ngIf="PostalCode.invalid && (PostalCode.touched || PostalCode.dirty)" class="level-item fas fa-ban has-text-danger" title="Please enter valid CC info" aria-hidden="true"></i>
                    </span>
                  </div>
                  <label class="label" for="sprovince">State Province</label>
                  <div class="level is-flex">
                    <input type="text" id="sprovince" name="State/Province Name" placeholder="ie. Amex" formControlName="StateProvince"
                      pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$" class="input is-medium level-item" />
                    <span class="level-item">
                      <i *ngIf="StateProvince.invalid && (StateProvince.touched || StateProvince.dirty)" class="level-item fas fa-ban has-text-danger" title="Please enter valid CC info" aria-hidden="true"></i>
                    </span>
                  </div>
                  <label class="label" for="str">Street</label>
                  <div class="level is-flex">
                    <input type="text" id="str" name="Street Address" placeholder="ie. Amex" formControlName="Street"
                      pattern="^\d+\s[A-z]+\s[A-z]+" class="input is-medium level-item" />
                    <span class="level-item">
                      <i *ngIf="Street.invalid && (Street.touched || Street.dirty)" class="level-item fas fa-ban has-text-danger" title="Please enter valid CC info" aria-hidden="true"></i>
                    </span>
                  </div>
                </div>
              </div>
              <div class="level">
                <button class="button is-primary level-item" type="submit">Add Address</button>
              </div>
            </div>
          </div>

          <button class="modal-close is-large level-right" aria-label="close" (click)="showModal = !showModal"></button>
        </div>
      </div>
    </div>
  </form>
</div>
