<div class="tile is-parent">
  <div class="tile box has-background-dark is-child">
    <div class="columns">
      <div class="column is-4">
        <figure class="image is-16by9">
          <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
        </figure>
      </div>
      <ng-container *ngIf="spotlight">
        <div class="column">
          <div class="content has-text-light">
            <p class="title has-text-light is-4">spotlight</p>

            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Voluptatum quis sapiente sed laudantium necessitatibus,
              reiciendis atque quae provident exercitationem eaque ullam quas fugit error.
              Necessitatibus labore dolore incidunt omnis possimus.
              Temporibus quis, dolorem omnis nulla, impedit illo a aperiam sapiente culpa velit animi saepe eum fuga at
              odio hic modi quia sequi repellendus.
              A, expedita assumenda esse dicta incidunt atque.
              Temporibus, vel fugiat amet adipisci nam veritatis dolore,
              accusamus nemo laboriosam assumenda in blanditiis ullam aut id velit debitis,
              doloremque aliquam laudantium at. Natus incidunt officiis, officia sapiente doloremque debitis.
              Modi similique, accusamus nam nobis voluptas eius commodi officiis maxime quibusdam, aliquid distinctio,
              provident ut porro odio ducimus soluta et molestiae. Error, autem ipsa quis dignissimos commodi voluptas
              maxime quo.
            </p>
          </div>
        </div>
    </ng-container>
    </div>
  </div>
</div>
