<div id="table-info" hidden>Rental unit table</div>
<div>
  <table class="table is-bordered is-hoverable is-fullwidth" aria-describedby="table-info">
    <thead>
      <tr>
        <th id="room-type">Site <span class="fas fa-home"></span></th>
        <th id="occupancy">Occupancy <span class="fas fa-users"></span></th>
        <th id="rooms">Sites Available <span class="fas fa-user-check"></span></th>
        <th id="pricing">Prices <span class="fas fa-dollar-sign"></span></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <td>
          Rental Lot Number: {{ rental.lotNumber }}<br />
          Rental type: {{ rental.properties.name }}
          <span class="fas fa-bed"></span>
        </td>
        <td>Rental Lot Size: {{ rental.properties.size.width }} X {{rental.properties.size.height}}</td>
        <td>Capacity: {{ rental.capacity }}</td>
        <!-- <td *ngIf="rental.properties.name = RV">Sewage: {{rental.type.amenities.sewage}} </td>
        <td *ngIf="rental.properties.name = RV"> Water: {{rental.type.amenities.water}} </td> -->
        <td>{{ availabilityCount.get(rental.properties.name) }}</td>
        <td>Price: {{ rental.price | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
