<section class="hero is-fullheight-with-navbar">
  <div class="hero-head">
    <div class="container">
      <br>
      <h1 class="title is-2">lodging</h1>

      <div class="tile is-ancestor">
        <div class="tile is-6">
          <div class="tile is-parent">
            <div class="tile is-child box">
              <figure class="image is-5by3">
                <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
              </figure>
            </div>
          </div>
        </div>

        <div class="tile is-3">
          <div class="tile is-parent is-vertical">
            <div class="tile is-child box">
              <figure class="image is-16by9">
                <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
              </figure>
            </div>

            <div class="tile is-child box">
              <figure class="image is-16by9">
                <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
              </figure>
            </div>
          </div>
        </div>

        <div class="tile is-3">
          <div class="tile is-parent is-vertical">
            <div class="tile is-child box">
              <figure class="image is-16by9">
                <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
              </figure>
            </div>

            <div class="tile is-child box">
              <figure class="image is-16by9">
                <img alt="placeholder image" src="https://bulma.io/images/placeholders/1280x960.png">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
