<div class="tile is-ancestor">
  <div class="tile is-parent" *ngFor="let lodging of lodgings">
    <a routerLink="details/{{lodging.id}}">
      <div class="card">
        <div class="card-image">
          <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ lodging.name }}</p>
              <p>{{ lodging.location.address.street }}</p>
              <p>
                {{ lodging.location.address.city }},
                {{ lodging.location.address.stateProvince }},
                {{ lodging.location.address.country }}
              </p>
              <p>
                {{ lodging.location.address.postalCode }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
